<div class="navbar">
    <h1><span class="leo">LEO</span><span class="gram">GRAM</span></h1>

    <div class="navbar-buttons">
      <h4>Navigation</h4>
      <ul>
        <li><a href="/" class="home active">Anasayfa</a></li>
        <li><a href="/chat" class="chat">Chat</a></li>
        <li><a href="/soon" class="cupcake">Yakında..</a></li>
        <li><a href="/about" class="about">Hakkında</a></li>
    </ul>
    <hr>
    <ul>
          <li><a href="/login" class="login">Login</a></li>
          <li><a href="/signin" class="sign-in">Sign-in</a></li>
          <li><a href="/logout" class="logout">Logout</a></li>

      </ul>
    </div>
  </div>