<div class="auth-body">
    <div class="auth-box">
     <div class="auth-form">
         <h2>GİRİŞ</h2>
         <form action="/login">
             <h4 for="username-text">Kullanıcı Adınız: </h4>
             <input type="text" name="username">
             <h4 for="password-text">Parola: </h4>
             <input type="text" name="password">
 
             <button>Giriş Yap</button>
         </form>
     </div>
    </div>
 </div>