<div class="auth-body">
   <div class="auth-box">
    <div class="auth-form">
        <h2>KAYIT</h2>
        <form action="/sig-in">
            <h4 for="name-text">Adınız: </h4>
            <input type="text" name="name">
            <h4 for="username-text">Kullanıcı Adınız: </h4>
            <input type="text" name="username">
            <h4 for="password-text">Parola: </h4>
            <input type="text" name="password">

            <button>Kayıt Ol</button>
        </form>
    </div>
   </div>
</div>