<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
  </head>
  <body>
    
    <div class="container">
      <div class="navbar">
        <h1><span class="leo">LEO</span><span class="gram">GRAM</span></h1>

        <div class="navbar-buttons">
          <h4>Navigation</h4>
          <ul>
            <li><a href="/" class="home active">Anasayfa</a></li>
            <li><a href="/chat" class="chat">Chat</a></li>
            <li><a href="/about" class="about">Hakkında</a></li>
        </ul>
        <hr>
        <ul>
              <li><a href="/login" class="login">Login</a></li>
              <li><a href="/signin" class="sign-in">Sign-in</a></li>
              <li><a href="/logout" class="logout">Logout</a></li>

          </ul>
        </div>
      </div>



      <div class="dashboard">
        <div class="dashboard-header">
          <form action="/search">
            <input type="text" name="search" placeholder="search everythings">
          </form>

          <div class="profile-part">
            <h3>Léon</h3>
            <div class="profile">
                <img src="../public/img/testimg.png" alt="user profile" id="user-profile">
            </div>
          </div>
          
        </div>

        <div class="dashboard-body">

          <div class="header-img">
            <div class="header-text">
              <h1>ONLİNE CHAT</h1>
              <p>ÜCRETSİZ DENEYİMLE</p>

              <ul>
                <li><a href="#">Online Chat</a></li>
              </ul>
            </div>
            <!-- <img src="" alt="header image"> -->
          </div><!-- header-img -->
        </div><!-- header-body -->


        <div class="features">
          <h2 class="features-title">Özellikler</h2>

          <div class="features-boxes">

            <div class="features-box">
              <img src="../public/img/testimg.png" alt="">
              <h3>Küçük Başlık</h3>
              <p>Paragraf</p>
            </div>
            
            <div class="features-box">
              <img src="../public/img/testimg.png" alt="">
              <h3>Küçük Başlık</h3>
              <p>Paragraf</p>
            </div>
            
            <div class="features-box">
              <img src="../public/img/testimg.png" alt="">
              <h3>Küçük Başlık</h3>
              <p>Paragraf</p>
            </div>
            
            <div class="features-box">
              <img src="../public/img/testimg.png" alt="">
              <h3>Küçük Başlık</h3>
              <p>Paragraf</p>
            </div>

          </div><!-- features-boxes -->
        </div><!-- features -->

      </div><!-- dashboard -->
    </div><!-- container -->
    
  </body>
</html>