<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head.ejs') %> 
  </head>
  <body>
    
      <div class="container">
        <%- include('partials/_navbar.ejs') %> 
        <div class="dashboard">
          <%- include('pages/dashboard-header.ejs') %> 
          <%- include(page) %>
        </div><!-- dashboard -->
      </div><!-- container -->
  </body>
</html>