<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
  </head>
  <body>
    
    <div class="container">
      <div class="navbar">
        <h1><span class="leo">LEO</span><span class="gram">GRAM</span></h1>

        <div class="navbar-buttons">
          <h4>NAVİGATİON</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">Özellikler</a></li>
          </ul>
        </div>
      </div>



      <div class="dashboard">
        <div class="dashboard-header">
          <form action="/search">
            <input type="text" name="search" placeholder="xd">
          </form>
          
        </div>

        <div class="dashboard-body">

          <div class="header-img">
            <div class="header-text">
              <h1>ONLİNE CHAT</h1>
              <p>ÜCRETSİZ DENEYİMLE</p>

              <ul>
                <li><a href="#">Online Chat</a></li>
              </ul>
            </div>
            <img src="" alt="header image">
          </div><!-- header-img -->
        </div><!-- header-body -->


        <div class="features">
          <h2 class="features-title">Özellikler</h2>

          <div class="features-boxes">

            <div class="features-box">
              <img src="../public/img/testimg.png" alt="">
              <h3>Küçük Başlık</h3>
              <p>Paragraf</p>
            </div>
            
            <div class="features-box">
              <img src="../public/img/testimg.png" alt="">
              <h3>Küçük Başlık</h3>
              <p>Paragraf</p>
            </div>
            
            <div class="features-box">
              <img src="../public/img/testimg.png" alt="">
              <h3>Küçük Başlık</h3>
              <p>Paragraf</p>
            </div>
            
            <div class="features-box">
              <img src="../public/img/testimg.png" alt="">
              <h3>Küçük Başlık</h3>
              <p>Paragraf</p>
            </div>

          </div><!-- features-boxes -->
        </div><!-- features -->

      </div><!-- dashboard -->
    </div><!-- container -->
    
  </body>
</html>