@import url("https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@100;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Joan", serif;
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: white;
}

h1, h2, h3, h4, h5, p {
  color: #091322;
}

.container {
  display: flex;
}
.container .navbar {
  flex: 20%;
  justify-content: center;
}
.container .navbar h1 .leo {
  color: #091322;
}
.container .navbar h1 .gram {
  color: #ad241b;
}
.container .navbar .navbar-buttons {
  padding-top: 55px;
}
.container .navbar .navbar-buttons ul {
  padding-top: 20px;
  list-style-type: none;
}
.container .navbar .navbar-buttons ul li {
  width: 100%;
}
.container .navbar .navbar-buttons ul li a {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  color: #091322;
  font-weight: bold;
}
.container .navbar .navbar-buttons ul li a:hover {
  padding: 10px;
  background-color: #ad241b;
}
.container .dashboard {
  margin-right: 30px;
  margin-left: 30px;
  flex: 80%;
}
.container .dashboard .dashboard-header {
  color: red;
}
.container .dashboard .dashboard-header form input {
  border: 2px solid #F2F2F2;
  font-weight: 500;
  border-radius: 10px;
  font-size: 15px;
  height: 35px;
  width: 400px;
  padding-left: 35px;
  outline: 0;
  background-image: url("../img/searchx50.png");
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: 5px;
}
.container .dashboard .dashboard-header form input:focus {
  border-color: #6ca2f1;
}
.container .dashboard .dashboard-body {
  padding-top: 30px;
}
.container .dashboard .dashboard-body .header-img {
  display: flex;
  justify-content: center;
  width: auto;
  height: 270px;
  border-radius: 15px;
  background-color: #091322;
}
.container .dashboard .dashboard-body .header-img .header-text {
  position: fixed;
}
.container .dashboard .dashboard-body .header-img .header-text p, .container .dashboard .dashboard-body .header-img .header-text h1 {
  margin-right: 580px;
}
.container .dashboard .dashboard-body .header-img .header-text h1 {
  font-size: 40px;
  color: white;
  padding-top: 45px;
  letter-spacing: 2px;
}
.container .dashboard .dashboard-body .header-img .header-text p {
  padding-top: 5px;
  font-size: 20px;
  color: white;
}
.container .dashboard .dashboard-body .header-img .header-text ul {
  list-style-type: none;
  padding-top: 70px;
}
.container .dashboard .dashboard-body .header-img .header-text ul li a {
  border-radius: 16px;
  font-size: 14px;
  padding: 13px;
  cursor: pointer;
  background-color: #ad241b;
  text-decoration: none;
  color: white;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .dashboard .dashboard-body .header-img .header-text ul li a:hover {
  background-color: #b8241a;
  border-radius: 26px;
}
@media only screen and (max-width: 1000px) {
  .container .dashboard .dashboard-body .header-img .header-text {
    position: relative;
  }
  .container .dashboard .dashboard-body .header-img .header-text h1 {
    font-size: 40px;
    color: white;
    padding-top: 30px;
    margin-right: 400px;
  }
  .container .dashboard .dashboard-body .header-img .header-text ul {
    margin-right: 400px;
    padding-top: 23px;
  }
}
.container .dashboard .features {
  padding-top: 30px;
}
.container .dashboard .features .features-boxes {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.container .dashboard .features .features-boxes .features-box {
  padding: 24px;
  border-radius: 10px;
  height: 130px;
  width: 230px;
  background-color: #F2F2F2;
}
.container .dashboard .features .features-boxes .features-box img {
  border-radius: 8px;
  display: inline-block;
  max-width: 40px;
}
.container .dashboard .features .features-boxes .features-box h3, .container .dashboard .features .features-boxes .features-box p {
  text-align: left;
}/*# sourceMappingURL=style.css.map */