@import url("https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@100;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Joan", serif;
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: white;
}

h1, h2, h3, h4, h5, p {
  color: #091322;
}

.container {
  display: flex;
}
.container .navbar {
  border-right: 1px solid #F2F2F2;
  flex: 20%;
  justify-content: center;
}
.container .navbar h1 .leo {
  color: #091322;
}
.container .navbar h1 .gram {
  color: #ad241b;
}
.container .navbar .navbar-buttons {
  padding-top: 55px;
}
.container .navbar .navbar-buttons hr {
  padding-top: 20px;
  border-bottom: 1px solid #F2F2F2;
}
.container .navbar .navbar-buttons ul {
  padding-top: 10px;
  list-style-type: none;
}
.container .navbar .navbar-buttons ul li {
  padding-top: 30px;
}
.container .navbar .navbar-buttons ul li a {
  padding: 10px 90px 10px 20px;
  padding-left: 50px;
  text-decoration: none;
  color: #091322;
  font-weight: 400;
  background-size: 35px;
  padding-left: 50px;
}
.container .navbar .navbar-buttons ul li a[class~=home] {
  background-image: url("/img/dashicon.png");
  background-repeat: no-repeat;
  background-size: 15;
  background-position: left;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .navbar .navbar-buttons ul li a[class~=home]:hover {
  background-image: url("/img/dashiconHover.png");
}
.container .navbar .navbar-buttons ul li a[class~=chat] {
  background-image: url("/img/chat-inherit.png");
  background-repeat: no-repeat;
  background-size: 15;
  background-position: left;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .navbar .navbar-buttons ul li a[class~=chat]:hover {
  background-image: url("/img/chat-red.png");
}
.container .navbar .navbar-buttons ul li a[class~=cupcake] {
  background-image: url("/img/cupcake.png");
  background-repeat: no-repeat;
  background-size: 15;
  background-position: left;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .navbar .navbar-buttons ul li a[class~=cupcake]:hover {
  background-size: 40px;
}
.container .navbar .navbar-buttons ul li a[class~=about] {
  background-image: url("/img/info-dark.png");
  background-repeat: no-repeat;
  background-size: 15;
  background-position: left;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .navbar .navbar-buttons ul li a[class~=about]:hover {
  background-image: url("/img/info-red.png");
}
.container .navbar .navbar-buttons ul li a[class~=logout] {
  background-image: url("/img/logout.png");
  background-repeat: no-repeat;
  background-size: 15;
  background-position: left;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .navbar .navbar-buttons ul li a[class~=logout]:hover {
  background-image: url("/img/logoutHover.png");
  background-size: 40px;
}
.container .navbar .navbar-buttons ul li a[class~=login] {
  background-image: url("/img/login.png");
  background-repeat: no-repeat;
  background-size: 15;
  background-position: left;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .navbar .navbar-buttons ul li a[class~=login]:hover {
  background-size: 40px;
}
.container .navbar .navbar-buttons ul li a[class~=sign-in] {
  background-image: url("/img/sign-in.png");
  background-repeat: no-repeat;
  background-size: 15;
  background-position: left;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .navbar .navbar-buttons ul li a[class~=sign-in]:hover {
  background-size: 40px;
}
.container .navbar .navbar-buttons ul li a[class~=active] {
  border-left: 4px solid #d82215;
  border-radius: 2px;
  -webkit-transition: all 1500ms ease;
  -o-transition-property: all;
}
.container .navbar .navbar-buttons ul li a:hover {
  background-color: #F2F2F2;
  color: #ad241b;
}
.container .dashboard {
  margin-right: 30px;
  margin-left: 30px;
  flex: 80%;
}
.container .dashboard .dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 7px;
}
.container .dashboard .dashboard-header form input {
  border: 2px solid #F2F2F2;
  font-weight: 500;
  border-radius: 10px;
  font-size: 15px;
  height: 35px;
  width: 400px;
  padding-left: 35px;
  outline: 0;
  background-image: url("/img/searchx50.png");
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: 5px;
}
.container .dashboard .dashboard-header form input:focus {
  border-color: #FFFFFF;
  box-shadow: 1px 0px 15px #6ca2f1;
}
.container .dashboard .dashboard-header .profile-part {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
}
.container .dashboard .dashboard-header .profile-part h3 {
  font-weight: 400;
  font-size: 15px;
  padding-right: 16px;
  padding-bottom: 3px;
}
.container .dashboard .dashboard-header .profile-part .profile img[id~=user-profile] {
  border: 3px solid #091322;
  border-radius: 30px;
  max-width: 50px;
}
.container .dashboard .dashboard-body {
  padding-top: 20px;
}
.container .dashboard .dashboard-body .header-img {
  display: flex;
  justify-content: center;
  width: auto;
  height: 270px;
  border-radius: 15px;
  background-color: #091322;
}
.container .dashboard .dashboard-body .header-img .header-text {
  position: fixed;
}
.container .dashboard .dashboard-body .header-img .header-text p, .container .dashboard .dashboard-body .header-img .header-text h1 {
  margin-right: 580px;
}
.container .dashboard .dashboard-body .header-img .header-text h1 {
  font-size: 40px;
  color: white;
  padding-top: 45px;
  letter-spacing: 2px;
}
.container .dashboard .dashboard-body .header-img .header-text p {
  padding-top: 5px;
  font-size: 20px;
  color: white;
}
.container .dashboard .dashboard-body .header-img .header-text ul {
  list-style-type: none;
  padding-top: 70px;
}
.container .dashboard .dashboard-body .header-img .header-text ul li a {
  border-radius: 16px;
  font-size: 14px;
  padding: 13px;
  cursor: pointer;
  background-color: #ad241b;
  text-decoration: none;
  color: white;
  -webkit-transition: all 900ms ease;
  -o-transition-property: all;
}
.container .dashboard .dashboard-body .header-img .header-text ul li a:hover {
  background-color: #b8241a;
  border-radius: 26px;
}
@media only screen and (max-width: 1000px) {
  .container .dashboard .dashboard-body .header-img .header-text {
    position: relative;
  }
  .container .dashboard .dashboard-body .header-img .header-text h1 {
    font-size: 40px;
    color: white;
    padding-top: 30px;
    margin-right: 400px;
  }
  .container .dashboard .dashboard-body .header-img .header-text ul {
    margin-right: 400px;
    padding-top: 23px;
  }
}
.container .dashboard .auth-body .auth-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .dashboard .auth-body .auth-box .auth-form {
  display: flex;
  width: 800px;
  height: 500px;
  margin-right: 150px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.container .dashboard .auth-body .auth-box .auth-form h2 {
  text-align: center;
  font-size: 50px;
  padding-right: 35px;
}
.container .dashboard .auth-body .auth-box .auth-form form input {
  display: block;
  border: 1px solid #21d0e7;
  border-radius: 5px;
  margin: 5px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  outline: 0;
}
.container .dashboard .auth-body .auth-box .auth-form form input:focus {
  box-shadow: 1px 0px 13px #6ca2f1;
  border-color: #21d0e7;
}
.container .dashboard .auth-body .auth-box .auth-form form h4 {
  padding: 15px;
  font-weight: 400;
}
.container .dashboard .auth-body .auth-box .auth-form form button {
  margin-left: 5px;
  margin-top: 10px;
  padding: 11px;
  background-color: #21d0e7;
  border-radius: 5px;
  color: #F2F2F2;
  cursor: pointer;
}
.container .dashboard .features {
  padding-top: 30px;
}
.container .dashboard .features .features-boxes {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.container .dashboard .features .features-boxes .features-box {
  padding: 24px;
  border-radius: 10px;
  height: 130px;
  width: 230px;
  background-color: #F2F2F2;
}
.container .dashboard .features .features-boxes .features-box img {
  border-radius: 8px;
  display: inline-block;
  max-width: 40px;
}
.container .dashboard .features .features-boxes .features-box h3, .container .dashboard .features .features-boxes .features-box p {
  text-align: left;
}/*# sourceMappingURL=style.css.map */