@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@100;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Joan', serif;
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
}

h1,h2,h3,h4,h5,p{
    color: #091322;
}

.container{
    display: flex;
    .navbar{
        flex: 20%;
        justify-content: center;
        h1{
            .leo{
                color:#091322;
            }
            .gram{
                color: #ad241b;
            }
        }


        .navbar-buttons{
            padding-top: 55px;
            ul{
                padding-top: 20px;
                list-style-type: none;
                li{
                    // padding-top: 15px;
                    width: 100%;
                    a{
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        text-decoration: none;
                        color: #091322;
                        font-weight: bold;
                        &:hover{
                            padding: 10px;
                            background-color: #ad241b;
                        }
                    }
                }
            }
        }

    }
    
    .dashboard{
        margin-right: 30px;
        margin-left: 30px;
        flex: 80%;
        .dashboard-header{
            color: red;
            form{
                input{
                    border: 2px solid #F2F2F2;
                    border-radius: 10px;
                    padding: 5px;
                    outline: 0;
                    &:focus{
                        
                        border-color: red;
                    }
                }
            }
        }
        .dashboard-body{
            padding-top: 30px;
            .header-img{
                display: flex;
                justify-content: center;
                width: auto;
                height: 270px;
                border-radius: 15px;
                background-color: #091322;
                
                   
                
                .header-text{
                    position: fixed;
                    %hederFixRule{
                        margin-right: 580px;
                    }
                    
                    h1{
                        @extend %hederFixRule;
                        font-size: 40px;
                        color: white;
                        padding-top: 45px;
                        letter-spacing: 2px;
                    }
                    p{
                        @extend %hederFixRule;
                        padding-top: 5px;
                        font-size: 20px;
                        color: white;
                    }



                    ul{
                        list-style-type: none;
                        padding-top: 70px;
                        li{
                            a{
                                border-radius: 16px;
                                font-size: 14px;
                                padding: 13px;
                                cursor: pointer;
                                background-color: #ad241b;
                                text-decoration: none;
                                color: white;
                                -webkit-transition: all 900ms ease;
                                -o-transition-property: all;
                                &:hover{
                                    
                                    background-color: #b8241a;
                                    border-radius: 26px;
                                }
                            }
                            
                        }
                    }

                    @media only screen and (max-width : 1000px) {
                        position: relative;
                        h1{
                           
                            font-size: 40px;
                            color: white;
                            padding-top: 30px;
                            margin-right: 700px;
                        }


                        ul{
                            margin-right: 700px;
                            padding-top: 23px;
                        }
                    }
      
                }

            }

        }
    
    }
}