<div class="dashboard-header">
    <form action="/search">
      <input type="text" name="search" placeholder="search everythings">
    </form>

    <div class="profile-part">
      <% if (user) { %>
        <h3><%= user.username %></h3>
      
      <% } else { %>
        <h3>Giriş Yapınız.</h3>
      <% } %>
       
      
      <div class="profile">
          <img src="/img/icons/testimg.png" alt="user profile" id="user-profile">
      </div>
    </div>
    
  </div>