<div class="dashboard-body">

    <div class="header-img">
      <div class="header-text">
        <h1>ONLİNE CHAT</h1>
        <p>GİRİŞ YAP VE ÜCRETSİZ DENEYİMLE</p>

        <ul>
          <li><a href="#">Sayfamızı Ziyaret Edebilirsiniz.</a></li>
        </ul>
      </div>
      <!-- <img src="" alt="header image"> -->
    </div><!-- header-img -->
  </div><!-- header-body -->